#docker compose -f docker-compose.prod.yml up -d --build

version: "3.8"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NODE_ENV: production
    image: ketere-backend:latest
    restart: always
    environment:
      - NODE_ENV=production
      - PORT=4444
      - DATABASE_URL=${DATABASE_URL}   # fournie via .env
    ports:
      - "4444:4444"
    env_file:
      - .env.production
    healthcheck:
      test: ["CMD-SHELL", "node dist/index.js >/dev/null 2>&1 || exit 1"]
      interval: 30s
      timeout: 3s
      retries: 3
